<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Help</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

<nav>
    <h1>HOTEL  AHAMEED</h1>
</nav>

<section class="page-section">
    <h2>Customer Support</h2>
    <div class="card">
        <p><strong>Phone:</strong> +91 9080943107</p>
        <p><strong>Email:</strong> support@hotelahameed.com</p>
        <p><strong>Address:</strong> Chennai, Tamil Nadu</p>
    </div>
</section>

</body>
</html>
